@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.App {
  height: 100vh;
  background-color: #dadbd3;
  display: grid;
  place-items: center;
}

.app-body {
  
  height: 90vh;
  width: 90vw;
  background-color: #ededed;
  box-sizing: -1px 4px 20px -6px #000;
  display: flex;
}
